/*The html page should have a gray background.*/
html
{
    background-color:Gray;
}

/*The resume should have a white background and be center-aligned*/
#resume
{
    width:800px;
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    background-color:White;
}

/*Each section title should have a light gray background*/
.section
{
    font-weight:bold;
    background-color:#D3D3D3;
}

/*The header (my name) should be center aligned.*/
h1
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

/*All intro elements (the contact info, etc) should be center-aligned.*/
.adr,#phone_line,#email_line
{
    margin-top:-12px;
    text-align:center;
    font-style:italic;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

/*The picture should be center-aligned and have a predefined width/height.*/
.photo
{
    /*border-style:solid;*/
    width:200px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
}

/*Make lists not start so far down.*/
ul
{
    margin-top:0px;
}

/*For any unordered list immediately following a paragraph: Make it's first bullet not so far down*/
p + ul
{
    margin-top:-12px;
}

/*All hyperlinks shouldn't be colored*/
a
{
    color:Black;
}