playlist {
	background-color:#FFFFFF;
	width:100%;
}

/*SONG, SONGNAME, ARTISTNAME, ALBUMNAME, 
   RELEASEDATE, GENRE, 
   ARTISTNAMEWEBSITE, 
   COVERIMG {
   display: block;
}*/


SONG {
  display: block;
}

SONG {
	margin-bottom:30pt;
	margin-left:0;
	outline-style:solid;
}

SONGNAME {
	font-size:18pt;
    font-variant: small-caps;
    color: green;
}

ARTISTNAME {
	color:#0000FF;
	font-size:20pt;
}

ALBUMNAME {
	font-style:italic;
}

COVERIMG img {
   padding: 0;
   width: 120px;
   height: 120px;

}


RELEASEDATE, GENRE {
   font-size: 80%;
}