         body {
            background: #ffd796;
            height:auto;
         }

         #mySongs {
            font-size: 18px;
            border-style: solid;
            overflow: hidden;
            width: 1150px;
            margin:60px auto;
            background: #a6caff;        
         }

         ul {
            float: left;
         }

         ul li {
            list-style: none;
            text-align: left;
            width: 120px;
            height: 120px;
         }

         ul li:not([img]) {
            padding: 10px 0 0 0;
         } 

         ul.coverImg {
            margin-top: 0px;
         }

         img {
            width: 120px;
            height: 120px;
         }

         .songName {
            font-variant: small-caps;
            color: green;
         }

         .artistName {
            font-weight: bold;
         }

         .albumName {
            font-style: italic;
         }

         .releaseDate, #song .genre {
            margin: 18px auto;
            font-size: 80%;
         }

         .genre li {
            list-style: disc;
            color: red;
         }

         .footer li {
            margin: 0 0 0 0;
            height: 20px;
            width: 1150px;
            vertical-align: top;
            text-indent: 500px;
            font-size: 8px;
            font-style: italic;
         }