    h1 {
      text-align:center;
      font-style: bold;
      color: pink;
    }

    .quote, #info {
      font-size:1.25em;
      letter-spacing:0.05em;
      width:50%;
      margin:1em auto;
    }
    .quote .attribution {
      font-size:1.0em;
      font-style:bold;
    }
    .quote .attribution:before {
      content:'-- ';
    }
    #info ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

