 <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif; 
      }
      h1 {
        text-align: center; 
        margin: 0;
        padding: 0;
        font-variant: small-caps;
      }
      h2 {
        width: 150px;
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 1.2em;
        font-variant: small-caps;
      }
      h4 {
        margin-left:30px;
      }
      img {
        position:relative;
        padding:35px;
        left: 625px;
        width: 15%;
        height: 15%;
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); 
        -webkit-transform:rotate(90deg);
      }
      #contactInfo {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 4px 0  4px 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
      }
      .vcard{
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 4px 0  4px 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;

      }
      .fn{
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 4px 0  4px 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
      }

      #contactInfo li {
        display: inline;
        list-style: none;
        margin: 0 0.25em 0 0.25em;
      }
      .info {
        position: relative;
        left: 90px;
      }
      
      .infoBullets {
        position: relative;
        left: 50px;
 
      }
      .infoNonBullets {
        position: relative;
        list-style: none;
        left: 50px;
      }
      
    </style>