
.main {
	background: #ddddfd;
}

.center {
	width: 80%;
	min-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background: #fefefe;
	border-radius: 10px;
	border: thin solid gray;
	box-shadow: 2px 2px 5px #888;
}

.photo {
	display: inline-block;
	padding: 15px;
	width: 150px;
	float: left;
}

.resume {
	width: 77%;
	min-width: 450px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-top: thin solid #ddd;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

a {
	color: #004;
}

.info {
	color: #222;
	display: inline-block;
	float: left;
}

.date {
	float: right;
}

h4 {
	height: 0px;
}

.fn {
	text-shadow: 1px 1px #DDD;
	font-family: "Oxygen", Arial, sans-serif;
	font-size: 2em;
}

.subtitle {
	font-family: "Playfair Display SC";
	color: gray;
}