body {
  background-color: #99FF99;
  font-family: Tahoma, Geneva, sans-serif; 
  width: 600px;
  margin: 0 auto;
}


/*ETC designs on entire document*/

.loc {
  display: inline;
  font-style: italic;
}
ul {
  list-style:circle;
}
a:link,a:visited {
  color: #686868;
}

/*-----------------------------*/

#header {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 20px 0 250px 0;
  margin: 10px 0 10px;
}
#contactInfo {
  float: right;
  margin: 40px 20px 0 0;
  text-align: right;
}
.fn {
  font-size: 2.75em;
  font-variant: small-caps;
}
.photo {
  width: 200px;
  height: auto;
  float: left;
  padding-left: 20px;
}

h2 { /*Side headers*/
  font-family: Georgia, serif;
  float: left;
  width: 200px;
  margin: 10px 0 10px 0;
}
#headerObjective {
  margin-bottom:20px;
}

.Objective {
  font-family: "Times New Roman", Times, serif;
  float: right;
  width: 400px;
  margin: 10px 0 20px 0;
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

#headerEducation  {
margin-bottom: 275px;
}

.Education {
  float: right;
  font-size: small;
  width: 400px;
  margin: 10px 0 10px 0;
}

h4 { /*Headers for in the body*/
  font-size: medium;
  display: inline; 
  margin: 0;
  padding: 0;
}

#headerExperience {
  margin-bottom: 230px;
}
#entireExperience {
 float: right;
 font-size: small;
 width: 400px;
 margin: 5px 0 5px 0;
}

.date {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: right;
  width: 200px;
  text-align: right;
  font-weight: bold;
}

#headerSkills {} /*no modification needed for now*/

.Skills {
  float: right;
  font-size: small;
  margin: 0px 0 10px 0;
  width: 400px;
}

