@charset "UTF-8";
/* CSS Document */
   	h1 {
		border-top:thin solid #30F;
		border-bottom: thin solid #30F;
		color:red;
		text-align:center;
	} 
	body {
        font-family: Arial, Helvetica, sans-serif; 
    }
	ul.menuList,
	ul.menuList li {
  	  display: inline;
      margin: 0;
    }
	ul.menuList li {
      border-left: 1px solid #333;
      padding: 0 0.2em 0 0.4em;
    }
    ul.menuList li.first {
      border-left: none;
	}
	ul.projectList,
	ul.projectList li {
		display:block;
		border: none;
		margin: 20;
	}
	.footer {
		margin-top:30px;
		padding:0;
		border-top:thin solid #30F;
		border-bottom: thin solid #30F;
		text-align:center;
	}

   .ui-accordion {
    width: 300px;
   }

   .ui-accordion a {
      font-size: 1em;
   }

  .ui-menu { 
    width: 300px; 
   }


