body {
   width:600;
   background:blue;
   color: yellow;
}

.pic {
   margin: 0 auto;
   padding: 0 auto;
   float: left;
   width: 200px;
}

.name {
   height: 20px;
   width: 180px;
}
.photo {

   margin: 5px auto;
   height: 250px;
   float: left;
   clear: right;
}

ul li {
   list-style-type: none;
   display: inline;
   height: 220px;
   
}

img {
   width: 180px;
   height: 200px;
}