body {	
		margin: 6em;
		width: 1600px;
		background-color: #CCFFFF;

	}
	
	h1 {
		text-align: center;
		font-size: 30pt;
		color: red;
	}
	

 
	.listsong ul {
		
		margin:2em;
		padding:0;
		text-align: center;
		overflow: hidden;
	
	}
	
	.listsong li {
		float: left;
		padding: 1em;
		
	}
	
	.listsong ul li {
		display: block;
		font-size: 18pt;
		width: 130px;
		height: 60px
		
	}
	
	.songTitle {
		
		font-variant: small-caps;
		color: green;
	}
	
	.artist { 
		
		font-weight: bold;
	}
	
	.album {
		
		font-style: italic;
	}
	
	.cover  {
		
		float: right;
		
	}
	
	.date ul li{
		
		font-size: 12pt;
	}
	
	
	.playlist {
		margin: 4em;
		border: 4px solid #333;
		background-color: white;
	}
	
	
	
	.genre li {
		list-style-type: disc;
		font-size: 14pt;
		
	}
	
	#end {
		text-align: center;
		font-style: italic;
		font-size: 10pt;
		padding-bottom: .5em;
	}
	
	.column {
		font-weight: bold;
		text-decoration: underline;
	}