.vcard {
background: #E8E8E8 ;
width: 300px;
text-align:center;
padding: 45px 35px 35px 35px;
  }
  
  h3{
  padding-left:100px;
  }
  
  .degree{
  padding-left:150px;
  font-weight:bold;
  }
  
  .major{
  padding-left:150px;
  }
  
  .job{
  padding-left:100px;
  font-weight:bold;
  }
  
  .jobdate{
  float:right;
  text-align:left;
  width: 200px;
  font-weight:bold;
  }
  
  .description{
  padding-left:150px;
  }
  
  .skilltype{
  padding-left:100px;
  font-style:italic;
  }