* {
	/* Allow for spacing in between lines for easier readability */
	margin-top: 2px;
	margin-bottom: 2px;
}

html {
	/* Restrict width and center HTML content */
	width: 800px;
	margin: 0 auto;
}

body {
	font-family: 'Libre Baskerville', serif;
	
	/* Normal size for this font was too big, so change it to 85% across the board */
	font-size: 85%;
	
	/* Allow for some space up top, and attempt to avoid browser inconsistency by setting left and right margin to 0 */
	margin:10px 0;
	
	/* Give some space inside the resume */
	padding:8px;
	
	/* Nice 3D shadow effect with rounded corners, as well as padding for some space in the resume */
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px black solid;
	-webkit-box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
	
	/* Create awesome gradient background using just CSS and no background image, if the browser does not support gradients then just display a single color background */
	background: rgb(225,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C */
}

header {
	/* This will allow for manual adjustment of positioning for the addresses */
	height:auto;
    overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 28px;
	font-family: 'Cantora One', sans-serif;
	font-variant: small-caps;
	letter-spacing: 1px;
}

section {
	/* Allow for some space in between each individual section */
	padding-bottom: 4px;
	padding-top: 4px;
}

body > section ~ section {
	/* For every section that is a direct child of content that is not the first section insert a border separating each of the sections */
	border-top: 1px black dotted;
}

ul {
	/* Change default round bullet to a square */
	list-style-type:square;
}

a[href^="http"] {
	/* Set up shadow transition for external links (So it does not affect the mailto link) */
	text-shadow: 0px 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a[href^="http"]:hover{
	/* Actually perform the shadow */
	text-shadow: 3px 3px 25px #000fff;
}

.addy {
	font-weight:bold;
}

.cat {
	font-family: 'Cantora One', sans-serif;
	font-size: 125%;

	/* Bold and capitalize categories and set up transition effect */
	font-weight:bold;
	text-transform:uppercase;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.cat:hover {
	/* On hover size is increased and letter-spacing is increased */
	font-size: 140%;
	letter-spacing: 3px;
}

.clearfix:after {   
	/* Clearfix element to clear floats */
	content:".";          
	display:block;
	height:0;
	visibility:hidden;	
	clear:both;
}

/* Basic styles */
.gpa {
	font-weight: bold;
	font-style: italic;
}

.name {
	font-weight: bold;
	font-style: italic;
}

.right {
	float:right;
}

#centered {
	/* Center element within the header div and give a fixed height; also center the content within this element */
	margin: 0 auto;
	text-align: center;
	height: 240px;
}

#localadd {
	/* Float left and move it to the top */
	float:left;
	margin-top:-250px;
}

#permadd {
	/* Same but float right */
	float:right;
	margin-top:-250px;
}

#tel {
	font-style: italic;
}