/*body {
	height:11in;
	width:8.5in;
}*/
top {
	display: block;
	margin:  0em 2em 2em 2em;
}

name {
    display:  block;
    text-align: center;
    padding:  .5em;
    border: 0px;
    border-bottom: 2px;
    border-bottom-color: #000;
    border-style:  solid;
    font-size:  2.5em;
}

contact {
    display:  block;
    text-align:  center;
    padding: .5em;
}

address {
    font-style: normal;

}

#campus {
    float:  left;
    text-align:  left;

}

#home {
    text-align:  right;
    float:  right;
}

ul {
    padding-top: 7em;
    list-style:  none;
	font-size: .8em;
}

li {
    overflow: hidden;      
    float: left;
    width: 97%;
    padding-bottom: 1.5em;
}

li side {
    float:  left;
	font-weight: bold;
    overflow: hidden;            
    width: 30%;
}

li info {      

    overflow:  auto;
    float: left;
    width: 70%;
}

title {
    display: inline;
    font-weight: bold;
}
gpa{
    float:  right;
}