body {
  font-family: "Palatino Linotype", "Times New Roman", serif;
  max-width: 7.5in;
  float: center;
  margin: 1em auto;
}
body a {
  color: black;
  text-decoration: none;
}
/* Name box */
.header {
  font-size: 10pt;
  height: 10em;
  position: relative;
  vertical-align: bottom;
  text-align: right;
}
.header address {
  display: block;
  font-style: normal;
}
.header .contact {
  position: absolute;
  float: right;
  right: 11em;
  bottom: 0;
}
.header .profile {
  float: right;
  height: 100%;
}
.header .fn {
  position: absolute;
  bottom: 0;
  float: left;
  color: #C0C0C0;
  font-size: 36pt;
  padding: 0;
  margin: 0;
}
.header .fn .family-name {
  color: gray;
}
/* Resume sections */
section h2 {
  font-size: 18pt;
}
section ul {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
  list-style-type: none;
}
section ul ul {
  margin-left: 20pt;
  padding-left: 20pt;
  list-style-type: square;
}
section ul li .org {
  font-weight: bold;
}
section ul li .dtrange {
  font-style: italic;
  float: right;
}
section ul .skills-section {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
/* Footer */
footer {
  border: 1pt solid;
  padding: 2pt;
}
