﻿ <div id="content" class="column" style="margin:15px"><div class="section">
            <a id="main-content"></a>
                    <h1 class="title" id="page-title">
          Lab #3 - JavaScript and the Document Object Model        </h1>
                          <div class="tabs">
                  </div>
                        <div id="node-17" class="node node-labs node-full clearfix" about="/content/lab-3-javascript-and-document-object-model" typeof="sioc:Item foaf:Document">

      
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2>Part 0: Setup</h2>
<p>Create a new folder for Lab 3, and confirm that it is being served by
 Apache. You may choose to serve this lab from a new virtual host, 
though doing so is not required to receive credit.</p>
<p>Ensure that you have a browser plugin capable of debugging JavaScript
 (you should be familiar with setting breakpoints and watch variables 
from your previous CS/IT courses). If you are stuck with this, the 
Firebug add-on for Firefox is an excellent tool to learn with.</p>
<p>For this lab, you will be using <a href="http://itws2110.davidwatson.name/examples/lab3/lab3.html">an existing HTML document</a>. Save the document as lab3.html in your lab3 folder.</p>
<h2>Part 1: Iterating through the DOM</h2>
<p>Create the file lab3.js and use a &lt;script&gt; tag to reference it from your document.</p>
<p>Write a JavaScript function that iterates through the DOM of your document. For each <a href="https://developer.mozilla.org/en/nodeType">Element node</a>
 starting with the &lt;html&gt; element, recursively print the name of 
each node in the tree in a text-based format, prefixing each item with a
 dash for each additional layer of depth. Newlines are escaped via \n.</p>
<p>The first few lines should look something like this:</p>
<p>html<br>
-head<br>
--title<br>
-body</p>
<p>Finally, replace the innerHTML of the element with the id “info” with the return value of this function.</p>
<p><strong>To receive credit for Part 1:</strong> Show that your code iterates through the DOM and replaces the contents of #info with the resulting tree. </p>
<h2>Part 2: Event Listeners &amp; Event Bubbling</h2>
<p>Modify your function in Part 1 to add an onclick event listener to 
each element in the body. The function bound to this event listener 
should display an alert box with the element's tag name.</p>
<p>Note that there is a much more performant way of doing this; we will discuss how in another lecture.</p>
<p><strong>To receive credit for Part 2:</strong> Show how the onclick event bubbles through the DOM.</p>
<h2>Part 3: CSS Manipulation</h2>
<p>First, once the page has finished loading, copy your favorite quote 
to the end of the body using the cloneNode() and appendChild() methods 
on the appropriate Element objects.</p>
<p>Bind new onmouseover event listeners to each div (including the one 
you just copied), and in the function change the element's background 
color and move the element 10px to the right. For the onmouseout event 
for each element, change the background color back to white and 
reposition the element to its original location.</p>
<p><strong>To receive credit for Part 3:</strong> Demonstrate that your onmouseout and onmouseover listeners fire correctly.</p>
</div></div></div><div class="field field-name-field-date field-type-datetime field-label-above"><div class="field-label">Date:&nbsp;</div><div class="field-items"><div class="field-item even"><span class="date-display-single">Monday, September 24, 2012 - <span class="date-display-start" property="dc:date" datatype="xsd:dateTime" content="2012-02-15T16:00:00-05:00">12:00pm</span> to <span class="date-display-end" property="dc:date" datatype="xsd:dateTime" content="2012-02-15T17:50:00-05:00">1:00pm</span></span></div></div></div>  </div>

  
  
</div>
      
    </div></div> <!-- /.section, /#content -->