﻿<div id="content" class="column"><div class="section">
            <a id="main-content"></a>
                    <h1 class="title" id="page-title">
          Lab #5 - HTML5, Geolocation and Canvas        </h1>
                          <div class="tabs">
                  </div>
                        <div id="node-26" class="node node-labs node-full clearfix" about="/content/lab-5-html5-geolocation-and-canvas" typeof="sioc:Item foaf:Document">

      
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p><em>Credit to Dan and Dave Watson for designing this lab. Thanks!</em></p>
<h2>Part 0 – Setup</h2>
<p>Create a new folder for Lab 5, and confirm that it is being served by
 Apache. You may choose to serve this lab from a new virtual host, 
though doing so is not required to receive credit.<br>
Ensure that you have a browser plugin capable of debugging JavaScript 
(you should be familiar with setting breakpoints and watch variables 
from your previous CS/IT courses). If you are stuck with this, the 
Firebug add-on for Firefox is an excellent tool to learn with.</p>
<h2>Part 1 (Canvas and Google Maps API):</h2>
<p>Create a blank canvas element. Then, create a button that when 
clicked, a static Google Map of NYC is displayed as it’s background. For
 full documentation on Google Maps API, go to <a href="http://code.google.com/apis/maps/documentation/staticmaps/">http://code.google.com/apis/maps/documentation/staticmaps/</a>, but here’s a small overview:<br>
The URL to make requests is <a href="http://maps.googleapis.com/maps/api/staticmap?parameters">http://maps.googleapis.com/maps/api/staticmap?parameters</a><br>
Parameters – what options to send to Google about the map you’re 
requesting. This is how you set the coordinates of where you want the 
map to show, size of the map, and much more. Go through the 
documentation for the full details.<br>
So you’d want to use something like this as your URL:<br><a href="http://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&amp;zoom=12&amp;size=400x400&amp;sensor=false">http://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.99867...</a></p>
<p><strong>Note:</strong> <em>center</em> defines the center of the map.
 It takes (for our purposes) a postion as a comma-separated pair (e.g. 
“40.714728,-73.998672”). This is the more important parameter for us so 
don’t worry too much about the other ones.</p>
<p><strong>To receive credit for Part 1:</strong>&nbsp;Set the static Google Map of NYC as the canvas element’s background when the button is clicked. </p>
<h2>Part 2 (Canvas, Geolocation and Google Maps API):</h2>
<p>Get your current (best guess) location via geolocation. Use these 
coordinates to replace the coordinates for NYC from the first part of 
the lab with your coordinates, and set the background image of the 
canvas to the static Google Map with your coordinates. Lastly, create a 
red circle in the center of the canvas element, with text above that 
says "YOU ARE HERE" (look at the context.font and context.textBaseline 
properties, as well as the context.fillText() method).</p>
<p><strong>To receive credit for Part 2:</strong>&nbsp;Ensure that your 
map shows your current location with the appropriate marker. Note that 
this can be done without HTML5, though such overlays may be useful in 
more complex implementations, such as displaying a dynamic graph of data
 that depends on location.</p>
</div></div></div><div class="field field-name-field-date field-type-datetime field-label-above"><div class="field-label">Date:&nbsp;</div><div class="field-items"><div class="field-item even"><span class="date-display-single">Wednesday, October 3, 2012 - <span class="date-display-start" property="dc:date" datatype="xsd:dateTime" content="2012-10-03T19:00:00-07:00">7:00pm</span> to <span class="date-display-end" property="dc:date" datatype="xsd:dateTime" content="2012-02-29T20:50:00-09:00">8:50pm</span></span></div></div></div>  </div>

  
  
</div>
      
    </div></div> <!-- /.section, /#content -->