.navbar-static-top 
{
	margin-bottom: 19px;
}

img.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center
{
	text-align: center;
}

.left-column
{
	width: 60%;
}

.one-third
{
	width: 33.3%;
}

.two-thirds
{
	width: 66.6%;
}