body {
  background-color: #FEEBAC;
  margin: 0px;
  padding: 15px;
  font-family: sans-serif;
}

/* Outer div for contact info */
.vcard {
  position: relative; 
  margin: 0 auto;
  min-height: 50px;
  padding: 10px;
  width: 350px;
  text-align: center;
}

/* inner div for contact info */
.info {
  padding-top: 30px;
  width: 150px;
  height: 100px;
}

/* formatting my image */
img.photo {
  padding: 10px;
  width: 190px;
  position: absolute;
  top:0;
  right:0;
}

/* formatting the division line */
hr {
  width: 50%;
  color: #A47A61;
  background-color: #A47A61;
  height: 3px;
}

/* separates each attribute */
.row {
  float: left;
  padding: 20px;
  width: 1000px;
  height: auto;
  position: relative;
}

/* formatting for the attribute title */
.attr {
  text-align: left;
  width: 200px;
  font-weight: bold;
}

/* contains actual information pertaining to attribute */
.resume {
  width: 700px;
  text-align: left;
  height: auto;
  margin-left: 50px;
}

