body {
    padding: 10px;
    background-color: #FFFFCC;
}

.appearTogether{
    float: left;
    clear: both;
    margin: 7px;
}

.left {
    float: left;
    clear: both;
}

#n1 {
    color: black;
    font-size: 20px;
    font-family: serif;
    display: inline;
    text-align: center;
}

.vcard {
    text-align: center;
}
            
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
    padding: 1px;
    border: 2px solid #FF9900;;
    background-color: white;
}

.line {
    min-height: 1px;
    clear: both;
    width: 100%;
    border-bottom: 1px solid black;
    height: 1px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

ul.n2 {
    color: black;
    font-size: 15px;
    font-family: serif;
    float: left;
}

ul.n3 {
    color: black;
    font-size: 15px;
    font-family: serif;
    float: left;
}

ul.n4 {
    color: black;
    font-size: 15px;
    font-family: serif;
    float: left;
}
            
ul.n5 {
    color: black;
    font-size: 15px;
    font-family: serif;
    float: left;
}