

.content{
	width: 75%;
	background-color: #f3f3f3;
	height: 2000px;
	left:12.5%;
	position:relative;


}

.content, .FullName h1{
	font-family: 'Rokkitt', serif;
}

.FullName h1{
	display:inline;

}

.FullName h3{
	color:#A8A8A8;
	margin-top: 0px;
	margin-bottom: 0px;
}

.FullName h4{
	color:#A8A8A8;
	margin-top: 0px;
	margin-bottom: 5px;
}

.FullName{
	display:inline;
}

.address p{
	margin-top: 0px;
	margin-bottom: 0px;

}

.address{
	display: inline;
	
}

.Face{
	display: block;
}

.education h2{
	margin-top: 0px;
	margin-bottom: 0px;
}
.education h3{
	margin-top: 0px;
	margin-bottom: 0px;
	color:#A8A8A8;
}

.work h2{
	margin-top: 0px;
	margin-bottom: 0px;
}
.work h3{
	margin-top: 0px;
	margin-bottom: 0px;
	color:#A8A8A8;
}

.skills h2{
	margin-top: 0px;
	margin-bottom: 0px;
}
.skills h3{
	margin-top: 0px;
	margin-bottom: 0px;

}

.contentRow{
	width:100%;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;


}

.rowItemHalf{
	width:49.8%;
	float: right;
	border-left: 1px solid black;
	padding-left:5px;
	background-color: #f3f3f3;
}

.rowItemHalfFixed{
	width:49.8%;
	float:right;
	background-color: #f3f3f3;
	height:auto;
}

.rowItemQuarter{
	width:25%;
}

.rowItemThird{
	width:33.33333333333333%;
}

.rowItemHalf, .rowItemThird, .rowItemQuarter, .contentRow{
	display:inline;
	height:auto;
	position: relative;
	background-color: #f3f3f3;

	
}


.FullName h1{
	font-variant: small-caps;
}


.fn{
	font-variant: small-caps;
	font-size: 20pt;
	font-weight: bold;
}

.org{
	font-size: 14pt;
	font-weight: bold;
	color:#A8A8A8;
}
