body{
	background-image:url("../images/back.jpg");
}

.body{
	position: absolute;
	left: 18%;
	right: 18%;
	padding-left: 2%;
	padding-right: 2%; 	
	background-color: rgba(255,255,255,0.5);
	
}

#head{
	text-align: center;
}

#photo{
	width: 30%;
	height: 10em;
	margin-left:auto;
	margin-right:auto;
	background-image: url('../images/headshot.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
	border-bottom: 0.2em ridge rgb(0, 0, 0);
	width: 100%;
}

table {
	width: 100%;
}

table td {
	
}

h2 + ul {
}

div>ul{
	list-style: none;
	padding-left: 0em;
}
