	body { 
		background-color:#303030; 
		}

	h1 {
		margin: auto;
		margin-top: 1em;
		width: 100%;
		height:65px;
		background-color:#ffffff;
		opacity:0.4;
		text-align: center;
		font-size: 40pt;
		font-family:"Times New Roman", Times, serif;
		color: #383838;

	}

	footer {
		position:fixed;
		top: 40em;
		width: 100%;
		height:25px;
		background-color:#ffffff;
		opacity:0.4;
		text-align: center;
		font-size: 15pt;
		font-family:"Times New Roman", Times, serif;
		font-style: italic;
		color: #383838;
	}

	
	#project {
		width: 70%;
		margin-left: 15% ;
	}