* {
    font-family:arial;
}

ul li {
    list-style:none;
}

h1 {
    font-size:3em;
    color:#114444;
}

body {
    background-color:#88AAAA;
}

h2 {
    color:#114444;
}

img {
    float:right;
}

a {
    color:#88AA22;
}

#contact {
    padding:8px;
}

#head {
    float:auto;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:6px;
    background-color:#DDDDDD;
    border:2px solid gray;
    border-radius:4px;
    padding:20px 40px 20px 40px;
    overflow:hidden;
}

div.resumebox {
    float:auto;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#DDDDDD;
    border:2px solid gray;
    border-radius:4px;
    padding:4px;
    margin-bottom:6px;
    overflow:hidden;
}
div.resumebox h2 {
    padding: 0 0 0 8px;
}
div.listbox {
    width:960px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

/*
    css order here prevents nested
    list elements from being targeted by the wrong css
*/
ul.items {
    display:inline;
    float:left;
}

ul.items li {
    display:inline-block;
    width:450px;
    height:auto;
    padding:10px 0 10px 0;
    vertical-align:top;
}

ul.items ul li {
    display:list-item;
    height:auto;
    width:auto;
    padding:0;
}
p.intro {
    clear:both;
    padding:40px 0 0 0;
    text-align:center;
}