


.clearfix:after {
  content: '&nbsp;';
  font-size: 0;
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
}

.hexed-swatch {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

.hexed-history {
  width: 100%;
  display: none;
  background-color: white;
  border-radius: 16px;
  border: thick solid black;
  margin-top: 2em; 
  width: 50%;
  padding: 4em 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hexed-history input[type='text'] {
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 10px yellow;
}

.hexed-history input[type='submit'] {
  background: #feccb1; /* Old browsers */
background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
background: linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  color: #ddd;
  text-shadow: 1px -1px 0px black;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 8px;
}

#hexed-history-list {
  width: 80%;
  margin: 0 auto;
}

.hexed-history li,
.hexed-history li * {
  display: inline-block;
  height: 20px;
  margin-right: 3em;
}

.hexed-history h3 {
  text-align: center;
}

.hexed-history-turn {
  width: 2.5em;
}

.hexed-slider-col {
  display: inline-block;
  margin: 0 10px;
}

.hexed-slider-col > div {
  margin: 0 auto;
}

.hexed-slider-col input {
  margin-top: 1em;
  width: 3em;
  text-align: center;
  border-radius: 5px;
}

#hexed-sliders {
  float: left;
  background-color: black;
  color: white;
  padding: 2%;
  border-radius: 8px;
}

#hexed-sliders label {
  display: block;
  text-align: center;
}

#hexed-sliders h3 {
  text-align: center;
}

.hexed-left {
  float:left;
  width: 50%;
}


#scores {
  width: 60%;
  min-width: 720px;
  border-radius: 16px;
  background-color: black;
  background-color: rgba(40,40,40,0.7);
  margin: 20px auto;
  overflow: hidden;
  padding: 1em;
  color: white;
}

.hexed-scores table {
 font: 24px Verdana, Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

.hexed-scores th {
 padding: 0 0.5em;
 text-align: left;
}

.hexed-scores tr.yellow td {
 border-top: 1px solid #FB7A31;
 border-bottom: 1px solid #FB7A31;
 background: #FFC;
}

.hexed-scores td {
  border-bottom: 1px solid #CCC;
  padding: 0 0.5em;
}

.hexed-scores td:first-child {
  min-width: 240px;
}

.hexed-scores td+td {
 border-left: 1px solid #CCC;
 text-align: center;
}

.hexed-scores .hexed-time {
  font-size: 80%;
}
