header, section, footer, aside, nav, article, figure, ul
{ 
  display: block; 
}

/*General font-size for the page*/
html
{
	font-size: 100%;
  background-color:#0033CC;
  background-image:url('Computer_Tile_by_nouseforaname.png');
}

article#Resume
{
  /*
    Width Ranges at which the Resume appears most readable
  */
  min-width: 600px;
  max-width: 1000px;
  
  background-color:#FFFF99;
  background-image:url('paper.jpg');
  
  border-style:solid;
  border-width:3px;
  
  /* CSS3 Makes the paper of the resume look cooler */
  -webkit-border-radius: 8px;  
  -moz-border-radius: 8px;  
  border-radius: 8px;  
  
  -webkit-box-shadow: 1px 1px 3px black;  
  -moz-box-shadow: 1px 1px 3px black;  
  box-shadow: 1px 1px 3px black;  
  
  font-size: 12px; 
	font-size: 1.2rem;
  
  /*
    Centers the Resume
  */
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

header#ResumeHeader
{
  text-align:center;
}

span.fn
{
  font-weight:bold;
  font-size: 18px; 
	font-size: 1.8rem;
}

article#Resume section
{
  border-top-style:solid;
  border-top-width:3px;
}

article#Resume section header
{
  font-weight:bold;
  font-size: 14px; 
	font-size: 1.4rem;
}

/*
  General padding for each section of the Resume
*/
article#Resume > section > *
{
  padding:5px 10px 5px 10px;
  padding:0.5rem 1.0rem 0.5rem 1.0rem;
}

/*
  Adjusts spacing to compensate for bullets removed below.
*/
article#Resume > section > section ul ul li
{
  margin-left:15px;
  margin-left:1.5rem;
}

/*
  Makes the bullet representing the list of achievements vanish. 
  The achievements are grouped together for style purposes in an
  unordered list. However the first element was having double bullets.
  This makes only the bullet for the achievment section appear.
*/
article#Resume ul ul li.Achievements
{
  list-style-type:none;
  margin-left:0px;
  margin-left:0.0rem;
}

article#Resume ul ul li.Achievements li
{
  font-style:italic;
}

/*
  Name of work, school etc is in a list for data organization purposes.
  However this is the first element of a List in a list so it was displaying
  with double bullets. This eliminates the bullets.
*/
article#Resume > section > section > ul  li.Name
{
  font-weight:bold;
  list-style-type:none;
  
  margin-left:0px;
  margin-left:0.0rem;
}







