#all {
	position: absolute;
    height: 1900px;
    width: 600px;
    margin: -100px 0 0 -300px;
    top: 25%;
    left: 50%;
}

#header {
	width: 600px;
}

.floatL {
	float: left;
	max-width: 400px;
}

.floatR {
	float: right;
	text-align: right;
	max-width: 200px;
}

#floatLS {
	float: left;
	max-width: 200px;
}

#floatRL {
	float: right;
	text-align: right;
	max-width: 400px;
}

.body {
	clear: both;
	float: left;
	padding-top: 5px;
}

.buffer {
	clear: both;
	padding-top: .5em;
}

#contact {
	clear: both;
}

.item {
	padding-top: .5em;
	clear: both;
}


.pers-info {
	float: left;
}

.portrait {
	height: 200px;
	width: 200px;
	border-radius: 25px;
}

.font {
	font-family: helvetica;
}

h3 {
	text-align: center;
}

ul li {
	list-style-type: none;
	text-align: center;
	text-indent: -2.5em;
}
