
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 {
        text-align: center; 
        margin: 0;
        padding: 0;
        font-variant: small-caps;
      }
      h2 {
        text-align: left;
        float: left;
        clear: left;
        width: 260px;
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 1.2em;
      }
      #contactInfo {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 4px 0  4px 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
      }
      #contactInfo li {
        display: inline;
        list-style: none;
        margin: 0 0.25em 0 0.25em;
      }

      #contactInfo div {
        display: inline;
        list-style: none;
        margin: 0 0.25em 0 0.25em;
      }
      .ProfileInfo {
        width: 1307px;
        float: left;
        margin: 20px 0 0 0;
        padding: 0;
        font-size: .9em;

      }
      .ProfileInfo ul {
        padding: 0 0 0;
        margin: 0;
      }

      .alignright {
        float: right;
      }

      .vard {
        display:inline;
      }

      .vcard li{
        display: inline;
        margin-top:0px;
          
        }