#slider1, #slider2, #slider3 {
    float: left;
    height: 10em;
    width: 0.3em;
    border: 0.15em solid #000000;
    margin: 1em;
}
#slider1, #slider2, #slider3 { background:#C0C0C0; }
#sliders {
    position: relative;
    left: 36%;
}
#title {
    position: relative;
    left: 37%;
    font-weight: bold;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2.32em;
    font-style: italic;
    text-shadow: 5px 5px 5px #FF0000;
}
#red, #green, #blue {
    width: 2em;
    margin: 0.5em;
    font-weight: bold;
    color: #F6931F;
}
#inputs {
    position: relative;
    clear: both;
    left: 37%;
}
#slider1 .ui-slider-range { background: #FF0000; }
#slider2 .ui-slider-range { background: #00FF00; }
#slider3 .ui-slider-range { background: #0000FF; }
#slider1 .ui-slider-handle, #slider2 .ui-slider-handle, #slider3 .ui-slider-handle {
    position: absolute;
    left: -0.15em;
    width: 0.5em;
    height: 1em;
    background: #FFFFFF;
    border: solid 0.1em black;
}
#game {
    position: absolute;
    left: 25%;
}
#hexed {
    height: 45em;
    width: 30em;
    background: #F0F0F0;
    border: solid 0.2em black;
    border-radius:5px;
    -moz-border-radius:5px;
}
#swatch {
    height: 5em;
    width: 5em;
    clear: both;
    position: relative;
    left: 40%;
    border: solid 0.2em black;
    border-radius:5px;
    -moz-border-radius:5px;
    background-color: #FF0000;
}
#level, #turn, #totalscore {
    padding-left: 10%;
    padding-bottom: 2%;
    float: left; 
}
#info {
    position: relative;
    left: 8%;
    font-family: 'Fresca', sans-serif;
}
#button {
    position:relative;
    left: 44%;
}
#resultColor {
    margin-top: 3%;
    height: 1em;
    width: 5em;
    background: #FFFFFF;
    border: solid 0.1em black;
    border-radius:5px;
    -moz-border-radius:5px;
}
#result {
    position: relative;
    left: 30%;
    width: 27%;
    height: 31%;
    padding-top: 1%;
    padding-left: 10%;
    background-color: #0FF0FF;
    border: solid 0.2em black;
    border-radius:5px;
    -moz-border-radius:5px;
    font-family: 'Fresca', sans-serif;
}
#rederror, #greenerror, #blueerror { 
    float: left;
    padding-right: 3%;
}
#rederror { color: red; }
#greenerror{ color: green; }
#blueerror{ color: blue; }
#error{ 
    position: relative;
    left: 30%;
}
#score{ 
    padding: 1%;
    clear: both; 
}
#highscore { width: 5em; }
