    <style type="text/css">

      body {
        font-family: Arial, sans-serif; 
      }
      h2 {
        font-family: Arial, sans-serif;
      }
      a:link {
        color:#660033;
        font-size: 120%;
        font-family: Arial, sans-serif;
      }  
      a:visited {
        color:#CCFF66;
      }
      a:hover {
        color:#E0CCD6;
      }
      #topmenu a:link{
      	color:#CCFF66;
      }

      #topmenu a:hover{
      	color:#E0CCD6;
      }

      header {
        font-family: Arial, sans-serif;
      }
      footer{
        font-family: Arial, sans-serif;
        
      }
      #topmenu li{
        font-family: Arial, sans-serif;
        display: inline;
        list-style: none;
        padding: 10px;
      }
      #topmenu{
        border-style:solid;
        background-color:#660033;
      }
   

    </style>