/*Uses the whole width to make the work block and Skills block line up*/
body
{
	width: 100%;
}
/*Vcard Class*/
ul.vcard
{
	/*Puts some space between the vcard and the next blocks*/
	height: 15em;
	background-color: purple;
}
/*Formats the photo element*/
.photo
{
	list-style-type: none;
	margin-bottom: 
}
/*Positions and sizes the photo*/
.photo img
{
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*Formats My name*/
.name
{
	/*Removes the bullet (used in following classes as well)*/
	list-style-type: none;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
/*Formats My address*/
.addr
{
	list-style-type: none;
	font-size: 15px;
	text-align: center;
}
/*Formats My email*/
.email
{
	list-style-type: none;
	font-size: 15px;
	text-align: center;
}
/*Formats My phone number*/
.phone
{
	list-style-type: none;
	font-size: 15px;
	text-align: center;
}
/*Formats the Header*/
.header
{
	font-weight: bold;
	text-align: left;
}
/*Posiions each school block to the left*/
.School
{
	float: left;
}
/*Formats dates' font size*/
dates
{
	font-size: 12px;
}
/*Floats list items to the left and shrinks the width to make them fit into columns*/
div.wrapper
{ 
	float: left;
	width: 50%;
}
/*Formats school block*/
.schoolwrap
{
	background-color: red;
	/*Makes the block half the page*/
	width:50%;
	/*Makes the shcool block the same height as the work block*/
	height: 27em;
	/*Puts the school block on the left*/
	float: left;
	/*Brings the block down so it doesn't clash with the vcard*/
	position: relative;
	top: -1em;
}
/*Formats the work block*/
div.workwrap
{
	background-color: green;
	/*Makes the block half the page*/
	width: 50%;
	/*Makes the work block the same height as the school block*/
	height: 27em;
	/*Puts the work block on the right*/
	float: right;
	/*Brings the block down so it doesn't clash with the vcard*/
	position: relative;
	top: -1em;
	
}
/*workwrap's version of wrapper*/
div.workwrapper
{
	float: left;
	width: 50%;
}
/*Formats the Skills block*/
div.Skills
{
	background-color: purple;
	/*Centers the block*/
	margin-right: auto;
	margin-left: auto;
	float: center;
	/*Centers the text within the block*/
	text-align: center;
	/*Block spans the whole width*/
	width: 100%;
	/*Stops the block from clashing with other blocks*/
	position: absolute;
	top: 41.9em;
}
/*Puts space between experience items to prevent clashing*/
div.workexp
{
	margin-bottom: 4.5em;
}
/*Makes space for 2 rows of 4 in the skill block*/
div.Skills div.wrapper
{
	width: 25%;
}

