html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 2;
	color: #555753; 
	margin: 0; 
	padding: 0;
	float: center;
	}
p { 
	margin-top: 0; 
	float: center;
	}
h1 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	float: center;
	}
	
h2 { 
	float: center;
}

h3 { 
	float: center;
}
