body {	
		margin: 4em;
		width: 1600px;
		background-color: #CCFFFF;

	}
	
	h1 {
		text-align: center;
		font-size: 30pt;
		color: red;
	}
	

	ul#coverart {
            margin-top: 0px;
            margin-left: 10px;
         }

 
	.listsong ul {
		
		margin:2em;
		padding:0;
		text-align: center;
		overflow: hidden;
	
	}
	
	.listsong li {
		float: left;
		padding: 1em;
		
	}
	
	.listsong ul li {
		display: block;
		font-size: 18pt;
		width: 100px;
		height: 60px
		
	}
	
	.songTitle {
		
		font-variant: small-caps;
		color: green;
	}
	
	.artist { 
		
		font-weight: bold;
	}
	
	.album {
		
		font-style: italic;
	}
	
	
	
	.date ul li{
		
		font-size: 12pt;
	}
	
	
	.playlist {
		margin: 2em;
		border: 4px solid #333;
		background-color: white;
	}
	
	
	
	.genre ul {
		text-align: center;
		
		font-size: 3pt;
	
	}

	.genre ul li {
		display: block;
		list-style-type: disc;
		overflow: hidden;
		width: 10%;
		
	}

	.website {
		float: right;
	}
	.cover   {
		
		float: right;
		clear: left;
		height: 30px;
		width: 30px;
		overflow: hidden;
		
	}
	#end {
		text-align: center;
		font-style: italic;
		font-size: 10pt;
		padding-bottom: .5em;
	}
	
	