@font-face 
{ 
 font-family: Champagne_Limousines; 
 src: url('Champagne_Limousines.ttf') format('truetype'); 
}

@font-face 
{ 
 font-family: TimeBurner; 
 src: url('timeburner_regular.ttf') format('truetype'); 
}

body
{
 background: none;
 border: 1px solid #ccc;
 width: 1000px;
 height: auto;
 margin: 30px auto;
 font-family: 'Oxygen', sans-serif, Arial, TimeBurner, Champagne_Limousines;
 padding: 50px;
}

h1
{
 font-variant: small-caps;
}

.summary
{
 border-top: 1px solid #ccc;
 margin: 100px 0 0 0;
 padding: 10px 0 0 0;
}

p.header
{
 float: left;
 margin: -10px 0 0 0;
}

img.header
{
 float: right;
 height: auto;
 width: 200px;
 border-radius: 40px;
}

ul
{
 list-style-type: none;
 list-style: none;
}

p
{
 font-size: 14px;
}