.photo {
	position:absolute;
	left:100px;
	top:150px;	
}

.center{
	text-align: center;
}

.floatL{
	float: left;
}

.floatRFixedWidth{
	float: right;
	width: 550px;
}

h3.floatL{
	width:95px;
}

div{
	overflow: auto;
}

ul{
	padding: 0px;
}

#contactInfo{
	padding: 0px;
}

#contactInfo li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.contentDiv{
	width: 700px;
	margin: auto;
	overflow: auto;
}

li {
	list-style-type: none;
}

#classAndGPA{
	float: right;
	width: 100px;
	text-align: center;
}

#major{
	float: right;
	width: 450px;
}

#highSchool{
	float: right;
	width: 450px;
}

.bulleted{
	list-style-type: disc;
	margin-left: 20px;
}