body {
    font-family: Helvetica, sans-serif;
    margin: 20px 100px 20px 100px;
}

h1 {
  text-align: left; 
  margin: 0;
  padding: 0;
  font-variant: small-caps;

}

h2 {
  float: left;
  clear: left;
  width: 150px;
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 1.2em;
}

#header{
  width: 80%; 
}


#contactInfo {
  padding: 4px 0  4px 0;
  margin: 0;
  text-align: left;
  width: 60%;
  float: left;
}

#contactInfo ul li{
  width: 50%;
}

#contactInfo li {
  list-style-type: none;
  margin: 0 0.25em 0 0.25em;
  font: Arial;
  width: 50%;
}



#profilepicture{
  float: right;
  width: 30%;
}

#profilepicture img {
  width: 140px;
  height: auto;
  float: left;
}

.catname {
  float: left;
  color: red;
  list-style-type: none;
  padding: 15px 0px 0px 20px;
  font-size: 100%;
}

.catname li {
  list-style-type: none;
}


.title {
  text-align: left;
  color: black;
  padding: 0px 20px 5px 40px;
  font-weight: bold;
  font-size: 100%;
}

.title li {
  list-style-type: none;
}

.description {
  padding: 0px 20px 0px 20px;
  font-weight: normal;