body {
	font-family: 'Maven Pro', Arial, sans-serif;
	background: #E6E6E7;
}

#nameHeader {
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	text-align: center;
	margin: 5px;
}

#contactInfo {	
	text-align: center;
	border-top: 2px solid black;	
	border-bottom: 2px solid black;
}

#contactInfo ul {
	display: inline-block;
	list-style-type: none;
	margin: 0px;	
}

#image {
	display: block;
	margin: 5px auto -30px auto;
}

#resume {
	margin: 5px;
	padding: 5px;
}

.section {
	width:100%;
}

.sectionLabel {	
	font-family: 'Oxygen', sans-serif;
	font-variant: small-caps;
	width:inherit;
	float:left;
	margin-bottom: 0px;	
}

.organization {
	width:inherit;
	float:left;
	clear:both;
	margin-bottom: -20px;
}

.organization h3 {
	float: left;
	margin-bottom: -15px;
}

.date {
	float:right;
}

.details {
	float: left;
	clear: both;
}

.details h4 {
	margin-top: 2px;
	margin-bottom: 0px;
}

.hr {
	margin-top: -20px;
}