body {
  font-family: "Roboto", sans-serif;
  color: #707070;
}
h1 {
  font-weight: 300;
}
table#songs {
  border-spacing: 20pt 0pt;
  background-color: #e5e5e5;
  border-radius: 3pt;
}
table#songs thead tr {
  text-align: left;
  text-transform: uppercase;
  font-size: small;
  color: black;
}
table#songs tbody tr:not(:last-of-type) td {
  border-bottom: 1pt solid #d9d9d9;
}
table#songs tbody tr:not(:first-of-type) td {
  border-top: 1pt solid #d9d9d9;
}
table#songs tbody tr td.albumart {
  height: 3em;
  width: 3em;
  text-align: right;
}
table#songs tbody tr td.albumart img {
  height: 100%;
}
