﻿<h2>Part 0: Setup</h2>
<p>Create a new folder for Lab 2. You may choose to serve this lab from a
 new virtual host, though doing so is not required to receive credit.</p>
<p>Ensure that you have a text editor or other integrated development 
environment (IDE) ready. Which one you use doesn't matter, so long as 
you are comfortable and efficient in its use (or are willing to invest 
the time to learn it).</p>
<p>Finally, ensure that you have a browser add-on that allows you to 
view computed CSS values and visually browse through the box model. The 
Web Developer Toolbar and Firebug utilities for Firefox are highly 
recommended.</p>
<h2>Part 1: Semantic HTML</h2>
<p>For this part of the lab, you will be marking up a playlist of your 
four favorite songs. Each entry must include the following information:</p>
<p>* Track Name<br>
* Artist<br>
* Album Name<br>
* Album Cover (Image)<br>
* Release Date<br>
* Genre(s)<br>
* Link to the artist's website</p>
<p>Think about the semantic correctness of the elements you're using, 
keeping in mind that your document will not always be rendered by a 
browser.</p>
<p><strong>To receive credit for Part 1:</strong> Be prepared to explain how your HTML is semantically correct.</p>
<h2>Part 2: XML</h2>
<p>Create a new file, lab2.xml, and mark up the same content that you 
did in Part 1, this time in XML. Although you may choose whichever 
labels and attributes for your tags that make sense, take care to 
structure the document in a hierarchical, extensible way. Recall that 
XML may be valid, but must be well-formed.</p>
<p><strong>To receive credit for Part 2:</strong> Be prepared to explain how your XML is semantically correct.</p>
<h2>Part 3a: HTML and CSS</h2>
<p>Create a new file, lab2.css. Edit your HTML file to reference the CSS
 externally using the &lt;link&gt; tag in the &lt;head&gt; of your 
document. This is always the preferred way to add CSS to an HTML 
document, as it further separates the presentation from semantic markup 
and promotes the reuse of CSS between documents.</p>
<p>Make sure that song title is in small-caps, the album is italicized, 
the release date and genres are in a reduced font size, and that the 
genres appear as a bulleted list. The album cover should appear to the 
right of each listing, and the title of your favorite song should appear
 in green.</p>
<h2>Part 3b: XML and CSS</h2>
<p>According to the base specification, XML documents may also refer to CSS. After the XML prologue:</p>
<p>&lt;?xml-stylesheet type="text/css" href="filename.css"?&gt;</p>
<p>Create a new file called lab2-xml.css, and modify your XML document 
to refer to this new stylesheet. Edit the stylesheet such that the track
 name has a larger font size, the album name is italicized, the genres 
are listed sequentially on the same line, and each complete song entry 
has additional margin separating it from the next (if any). Again, the 
album cover should appear to the right of each entry, although this time
 you should use a technique different from the one you used in Part 3a 
to accomplish this. Note that because you do not have the luxury of 
relying on the img element, you will need some other means of rendering 
the image on the page using CSS (hint: look into how backgrounds are 
displayed).</p>
<p>Take note of what happens with the margins: one might assume that two
 elements vertically separated by opposing margins, the one with the 
greater value will apply, and the other will collapse to zero. This 
rendering behavior is known as “collapsing margins,” and is used to 
maintain vertical rhythm when elements are in the normal flow of the 
page. Elements outside of the normal page flow (those that are floated, 
positioned absolutely, etc.) will not have their margins collapsed.</p>
<p><strong>To receive credit for Part 3:</strong> Show that the appropriate changes were made using your CSS.</p>