﻿<h2>Part 0: Setup</h2>
<p>Create a new folder for Lab 2. You may choose to serve this lab from a
 new virtual host, though doing so is not required to receive credit.</p>
<p>Ensure that you have a text editor or other integrated development 
environment (IDE) ready. Which one you use doesn't matter, so long as 
you are comfortable and efficient in its use (or are willing to invest 
the time to learn it).</p>
<p>Finally, ensure that you have a browser add-on that allows you to 
view computed CSS values and visually browse through the box model. (ie Chrome and Chrome dev tools)</p>
<h2>Part 1: Semantic HTML</h2>
<p>For this part of the lab, you will be marking up a playlist of your 
four favorite songs. Each entry must include the following information:</p>
<p>* Track Name<br>
* Artist<br>
* Album Name<br>
* Album Cover (Image)<br>
* Release Date<br>
* Genre<br>
* Link to the artist's website</p>
<p>Think about the semantic correctness of the elements you're using, 
keeping in mind that your document might not always be rendered by a 
browser.</p>
<p><strong>To receive credit for Part 1:</strong> 
Name your HTML file <em>yourname</em>-lab2part1.html and save it in your lab2 folder.
In the comments of your HTML file, explain the reasoning for the markup you chose and be prepared to explain how your HTML is semantically correct.  Additionally, add a screenshot of your browser with the html page and save it as <em>yourname</em>lab2part1.xxx (jpg, png, etc.) in your lab2 folder.</p>
<h2>Part 2: XML</h2>
<p>Create a new file, <em>yourname</em>-lab2part2.xml, and mark up the same content that you 
did in Part 1, this time in XML. Although you may choose whichever 
labels and attributes for your tags that make sense, take care to 
structure the document in a hierarchical, extensible way. Recall that 
XML may be valid, but must be well-formed.</p>
<p><strong>To receive credit for Part 2:</strong> Place your XML file in your lab2 folder.  In the comments of your file, explain the reasoning for the markup you chose and be prepared to explain how your XML is semantically correct.</p>
<h2>Part 3: HTML and CSS</h2>
<p>Create a new file, <em>yourname</em>-lab2part3.css. Edit your HTML file to reference the CSS
 externally using the &lt;link&gt; tag in the &lt;head&gt; of your 
document and save this as <em>yourname</em>lab2part3.html. This is always the preferred way to add CSS to an HTML document, as it further separates the presentation from semantic markup 
and promotes the reuse of CSS between documents.</p>
<p>Make sure that song title is in small-caps, the artist is in bold, the album is italicized, 
the release date and genre are in a proportionally reduced font size, and that the 
genre appears with a bullet. The album cover should appear to the 
right of each listing, and the title of your favorite song should appear in green.  There should be a border around your list as well as an entry centered at the bottom indicating the end of the list, in a smaller, italicised font.  Make sure that you add a header for each column indicating the content for each.</p>
 <p><strong>To receive credit for Part 3:</strong> Place your HTML and CSS files in your lab2 folder.  Unsing comments in your file(s), explain the logic for the markup you have chosen and make sure your markup is well documented.  Additionally, add a screenshot of your browser with the html page and save it as <em>yourname</em>lab2part3.xxx (jpg, png, etc.) in your lab2 folder.</p>
<h2>Part 4: XML and CSS</h2>
<p>According to the base specification, XML documents may also refer to CSS. After the XML prologue:</p>
<p>&lt;?xml-stylesheet type="text/css" href="filename.css"?&gt;</p>
<p>Create a new file called <em>yourname</em>lab2part4.css, and modify your XML document 
to refer to this new stylesheet. Edit the stylesheet such that the information should be displayed with each item on a separate line.  The Song title should be first and should be slightly smaller than the Artist Name which should also be in blue.  The Album name should remain in italics.  The hyperlink should work, and the image should be last, not be part of the hyperlink, and must be forced to be the same size as the other images.  Finally, there should be at least one line separating each entry in your list.<br/>
 
This time, in order to be able to display your image and hyperlink using the HTML tags, you will need to add the html namespace to your XML file by adding an attribute to the root_element tag - which is done by adding; </p>
<p>&lt;root_element xmlns:html="http://www.w3.org/1999/xhtml"&gt;</p>
<p>to your XML file after the stylesheet directive.  </p>
<p>Alternatively you can accomplish this without using the img element.  However, you will need some other means of rendering the image on the page using CSS (hint: look into how backgrounds are displayed).
Take note of what happens with the margins: one might assume that two
 elements vertically separated by opposing margins, the one with the 
greater value will apply, and the other will collapse to zero. This 
rendering behavior is known as “collapsing margins,” and is used to 
maintain vertical rhythm when elements are in the normal flow of the 
page. Elements outside of the normal page flow (those that are floated, 
positioned absolutely, etc.) will not have their margins collapsed.</p>
<p><strong>To receive credit for Part 3:</strong> Show that the appropriate changes were made using your CSS. Add the two <em>yourname</em>lab2part4.css and xml files to your lab2 folder.  Add a screenshot to the folder named <em>yourname</em>lab2part4.xxx (jpg, png, etc) as well.</p>
<p style="color:red"><strong>To submit your lab:</strong>
zip (or tar) all of your files from your lab2 folder into a file named, yep you guessed it - <em>yourname</em>lab2.zip, and submit it to LMS under the assignment for Lab 2.  It shoudl include all of the files from each part including your screenshots and almub cover photos.