@charset "UTF-8";
body {
  background-color: #ddd;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  margin: 1em auto;
  border: 1px solid #333;
  max-width: 50em;
  position:relative;
}
#contact {
  padding: 0 0 1.25em 0;
  text-align: center;
  border-bottom: double;
}
#contact li{
  display: inline;
  padding: 0px 10px;
}
#content ul {
  margin-bottom: 25px;
}
.section {
}
.content {
  width: 39em;
  margin: 0 0 0 10em;
}
.title {
  font-variant: small-caps;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  font-size: 1em;
}
#picture{
  height:200px;
  width:auto;
  position:absolute;
  right: 33px;
  top: 365px;
}

h1 {
  padding: 0 0 0.5em 0;
  border-bottom: double #333;
  font-variant: small-caps;
  text-align:center;
}
h2 {
 font-variant: small-caps;
 border-bottom: solid 1px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 22px; 
}
address {
  font-size: 0.85em;
  font-style: italic;
  padding-left: 22px;
  margin: 0 0 15px 0;
}