body {
  font-family:"Open Sans",Arial,sans-serif;
  background-color:#EEE;
  margin:20px;
  text-align:center;
}

div#container {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

img#photo {
  box-shadow:0 0 10px #444;
  margin-top:20px;
  width:200px;
  height:200px;
}

h1, h2 {
  font-family:"Corbel",Arial,sans-serif;
  font-variant:small-caps;
  font-weight:bold;
  color:#305D7B;
  margin:0;
  text-align:center;
}

h1 {
  font-size:250%;
  margin-top:10px;
}

h2 {
  font-size:175%;
  margin-top:20px;
}

h3 {
  margin:0;
}

ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

p {
  margin:0;
}

div#information {
  text-align:center;
}

ul#contact {
  margin:0;
  padding:0;
  text-align:center;
}

ul#contact > li:not(#email), ul#contact > li:not(:first-child) {
  display:inline;
  padding-left:8px;
  padding-right:10px;
  border-right:solid 1px gray;
}

ul#contact > li:first-child {
  display:inline;
  padding-right:10px;
  border-right:solid 1px gray;
}

ul#contact > li#email {
  display:inline;
  padding-left:8px;
  border-right:none;
}

a.hcard {
  color:#123456;
  text-decoration:none;
}

a.hcard:hover {
  text-shadow:0 0 5px #888;
}

ul#education > li {
  margin-bottom:10px;
}

div.date {
  color:#666;
}

div.capacity {
  font-style:italic;
}

div.location {
  font-size:80%;
}

li.course {
  font-size:95%;
}

div.details {
  font-style:italic;
}

ul#employment > li {
  margin-bottom:10px;
}

div#skills > ul {
  margin-bottom:10px;
}