body {
  background-color: #6a0105;
  color: white; 
  font-family: Tahoma, Helvetica, sans-serif; 
}
h1 {
  text-align: center; 
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}
h2 {
  float: left;
  clear: left;
  width: 150px;
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 1.2em;
}
#contactInfo {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 4px 0  4px 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
#contactInfo li {
  display: inline;
  list-style: none;
  margin: 0 0.5em 0 0.25em;
}
.cat {
  margin: 0 2em 0 10em;
}
.job {
  padding: 0 10px 1em 20px;
  margin-bottom: 1em;
  background-color: #ad050b;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #300001;
  border: solid #500;
  border-width: 2px;
  float: left;
  text-align: left;
  clear: left;
  max-width: 800px;

}
h2.business {
  font-weight: bold;
  width: 100%;
}

h2.business1 {
  font-weight: bold;
  width: 100%;
}
.business1{
  margin-bottom: -1em;
}

.positions{
  width: 100%;
}

.position {
  float: left;
  width: 70%;
}

.position h3 {
  font-weight: normal;
  text-align: left;
  margin-bottom: -1em;
}

.time {
  float: right;
  width: 30%;
}


.time h3 {
  font-weight: normal;
  text-align: right;
  margin-bottom: -1em;
}

.positionsolo {
  float: left;
  width: 70%;
  padding-bottom: 1em;
}

.positionsolo h3 {
  font-weight: normal;
  text-align: left;
  margin-bottom: -1em;
}

.timesolo {
  float: right;
  width: 30%;
  padding-bottom: 1em;
}


.timesolo h3 {
  font-weight: normal;
  text-align: right;
  margin-bottom: -1em;
}
.notfacts{
  display: inline-block;
  min-width: 400px;
  width: 100%
}
.facts{
  display: block;
  margin-top: 2em;
  width: 100%
}
.facts ul {
  color: white;
  padding-right: 2em;
}

a[href^="mailto:"]{ 
  color: white;
}

#photo{
  position: absolute;
  left: 1000px;
  top: 145px;
}

img{
  border: solid;
  border-color: #444;
  border-width: 2px;
  border-radius: 1.5em;
}

#obj{
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

#objhead{
  margin: 0 0 0 0;
}

#objhead h2{
  margin: 0 0 0 0;
  display: inline-block;
}

#objtext{
  display: inline-block;
}

#objtext p{
  margin: 0 0 0 0;
}

.ed{
  color: white;
}

.vc {
  padding: 10px 10px 1em 20px;
  margin-bottom: 1em;
  background-color: #400204;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #300001;
  border: solid #500;
  border-width: 2px;
  float: left;
  text-align: left;
  clear: left;
  max-width: 800px;
}

  .vc a:visited{
    color: white;
  }

.adr{
  margin-top: .5em;
}

.tel{
  margin-top: .5em;
}