#mySongs {
   outline-style: solid;
}

 #mySongs th {
   font-size: 24px;
   height: 200px;
   width: 160px;
   margin: 1px, 1px, 1px, 1px;
   text-decoration: underline;
}

#mySongs td {
   text-align: center;
   font-size: 18px;
}

/*tbody tr {
   outline-style: dashed;
}*/


#song .songName {
   font-variant: small-caps;
   color: green;
}

#song .artistName {
   font-weight: bold;
}

#song .albumName {
   font-style: italic;
}

#song .releaseDate, #song .genre {
   font-size: 80%;
}

.genre li {
   color: red;
}


tbody img {
   padding: 1px;
   width: 120px;
   height: 120px;
   overflow: hidden;
}

tfoot#songFooter td {
   font-size: 8px;
   font-style: italic;
}

