*{
	font-family:"calibri";
	font-size:18px;

}

.fn{
	font-size:30px;
	text-align:center;
}

.adr {
	text-align:right;
}


.tel{
	text-align:right;
}

.floatright{
	text-align:right;
}

.obj{
	font-size:25px;
}

.header{
	font-weight:bold;
	font-size:20px;
}

.org{
	font-weight:bold;
}

.institute{
	font-weight:bold;
}

.degree-program{
	font-style:italic;
}

.title{
	font-style:italic;
}