

body {
	font-family: 'Lato', Calibri, sans-serif;
	color: #89867e;
	width: 75%;
	margin: auto;
	background: white;
}
#inner{
	background: #f9f9f9; 
	padding: 40px;
}
img{
	width: 170px;
	border: double 4px #317ABB;
	float: right;
	margin-right: 50px;
	border-radius: 10px; /* CSS3 */
	-webkit-border-radius: 10px; /* Safari & Chrome */
	-moz-border-radius: 10px; /* Firefox */
	-ms-border-radius: 10px; /* Internet Explorer */
	-o-border-radius: 10px; /* Opera */
}
.job{
	color: #459FD8;
	font-size: 18px;
}
.fn{
	font-weight: 300;
	font-size: 50px;
	font-variant: small-caps;
	color: #317ABB;
	margin-top: 30px;
}
.vcard{
	display: block;
	text-align: center;
	
}
.tel, .email, .adr{
	line-height: 24px;
}

.adr{
	font-size: 15px;
}
a{
	color: #459FD8;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.dates{
	float: right;
	font-size: 12pt;
	text-align: right;
}
.sectiontitle{
	color: #317ABB;
	font-weight: 300;
	font-size: 28px;
	padding-bottom: 2px;
	border-bottom: 1px solid #317ABB;
}
.school, .hl, .jobtitle{
	color: #666666;
	font-weight: 700;
}
.degree{
	font-style: italic;
	margin: 8px 0;
}
.company{
	color: #666666;
	font-weight: 300;
}
.entry{
	border-bottom: 2px dotted #89867E;
	margin: 30px 0;
}
.last { 
	border-bottom: 0 
}
header{
	padding-bottom: 10px;
}
footer{
	font-size: 11px;
	text-align: center;
	padding: 20px 0;
	color: #666666;
}
ul{
	margin: 10px 0;
}
li{
	line-height: 24px;
}
.course{
	padding-left: 50px;
}
.course li{
	list-style: square;
	line-height: 20px;
	font-size: 14px;
}
.rc{
	font-weight: 300;
	margin: 8px 0;
	text-decoration: underline;
}
.profile{
	color: #666666;
	font-weight: 700;
	font-size: 17px;
	list-style: circle;
}
.validator{
	text-align: right;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 50px;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

a.symbol:hover{
	text-decoration: none;
}