	/*setting the parameters for the whole page-*/

	body {	
		margin: 6em;
		width: 1600px;
		background-color: #CCFFFF;

	}
	
	h1 {
		text-align: center;
		font-size: 30pt;
		color: red;
	}
	

 	/*GEneral settings for the list structure*/
	.listsong ul {
		
		margin:2em;
		padding:0;
		text-align: center;
		overflow: hidden; /* Use overflow to fit the content of the list into a border */
	
	}
	/* Making all list items for my song align in a row */
	.listsong li {
		float: left;
		padding: 1em;
		
	}
	/*Setting parameters for each list item, making a cell-like structure with no borders*/
	.listsong ul li {
		display: block;
		font-size: 18pt;
		width: 130px;
		height: 60px
		
	}
	/*Styling song titles*/
	.songTitle {
		
		font-variant: small-caps;
		color: green;
	}
	/*Styling artists*/
	.artist { 
		
		font-weight: bold;
	}
	/*Styling albums*/
	.album {
		
		font-style: italic;
	}
	/*Making album cover pics show on the right of the page*/
	.cover  {
		
		float: right;
		
	}
	
	/*Because we set the font size for all list items in listsong class already, we have to specify that for 
	list items in date class the font size is different: 12pt*/;
	.date ul li{
		
		font-size: 12pt;
	}
	
	/* Placing the whole playlist in a box*/
	.playlist {
		margin: 4em;
		border: 4px solid #333;
		background-color: white;
	}
	
	
	/*Specifying the style for genre*/
	.genre li {
		list-style-type: disc;
		font-size: 14pt;
		
	}
	
	/* Styling end id*/
	#end {
		text-align: center;
		font-style: italic;
		font-size: 10pt;
		padding-bottom: .5em;
	}
	/*Styling column headers for songs*/
	.column {
		font-weight: bold;
		text-decoration: underline;
	}