Song {
	display:block;
}

Song {
	margin-top: 2em;
	border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 16pt;
}

Title {
	font-variant: small-caps;
	font-size: 18pt;
	color: green;
}

Artist {
	font-size: 20pt;
	color: blue;
}

Album {
	font-style: italic;

}

ReleaseDate {
	font-size: 14pt;
}

Genre {
	list-style-type: disc;
}

AlbumCover img {
	height: 130px;
	width: 130px;
}

Title, Artist, Album, ReleaseDate, Genre, Website {
	margin-right: 1em;
}